@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: DM_SANS;
  src: local('DM_SANS'), url("/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf") format('truetype');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}

.loginBGImg {
  background-image: url("/assets/images/loginBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100% !important;
}

* {
  transition: all 150ms ease;
}

div {
  transition: all 300ms ease!important;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    /*DEFAULT width: 10px; */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(67 24 255 / 0.6);
    border-radius: 5px;
    /*DEFAULT: background: #888;*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    transition: all 1500ms ease;
    background: rgb(67 24 255);
    /*DEFAULT: background: #555;*/
}

.modalOpen {
  animation:animationModal 150ms linear ;
}

@keyframes animationModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Toastify {
  z-index: 1111111111;
}

.itemRowTable {
  background-color: transparent;
}

.itemRowTable:hover {
  background-color: rgba(221, 221, 221, 0.473);
}

.userColor {
  color: #4318FF!important;
  margin-left: 4px;
  margin-right: 4px;

}

.estadoColor {
  color: #8EA501!important;
  margin-left: 4px;
  margin-right: 4px;
}